<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobrevivientes Titanic</title>
    <style>
        body {
            background-image: url('https://peru21.pe/resizer/YUhN_OEmYItVS_wi8weCNHQE_8M=/1200x800/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/TFVXQHIEEVCR3INDDATCTTOXVY.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            color: rgb(247, 243, 243);
            text-align: center;
            padding: 50px;
        }
        .texto-fondo {
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;